@model MVC_Training.Models.Student

    <h2>InsertStudent</h2>

<div class="viewD">
    <label for="studentName">Student Name</label>
    <input type="text" value="@Model.studentName" name="studentName" disabled />
    <label for="studentNo">Student Number</label>
    <input type="text" value="@Model.studentNo" name="studentNo" disabled />
</div>


