@model MVC_Training.Models.Room

<h2>Details</h2>

<div class="viewD">
    <label for="roomName">Room Name</label>
    <input type="text" value="@Model.roomName" name="roomName" disabled />
    <label for="teacherNo">Teacher Number</label>
    <input type="text" value="@Model.roomSize" name="roomSize" disabled />
</div>
