@model MVC_Training.Models.Teacher

<h2>Details</h2>

<div class="viewD">
    <label for="teacherName">Teacher Name</label>
    <input type="text" value="@Model.teacherName" name="teacherName" disabled />
    <label for="teacherNo">Teacher Number</label>
    <input type="text" value="@Model.teacherNo" name="teacherNo" disabled />
</div>
